* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1 {
    display: flex;
    align-items: center;
    margin-left: 340px;
    width: 60px;


}

.navbar__s1 img {
    width: 45px;
    margin-left: 50px;
    padding: 2px;

}

.navbar__s1__title {
    font-size: 28px;
    font-weight: 300px;
    padding: 2px;

}

.navbar__s2 {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 150px;

}

.navbar__s2 p {
    border: none;
    text-align: center;
    font-size: 16px;
    width: 60px;
    height: 20px;
    border-radius: 35px;
    padding: 7px;
    background-color: transparent;

}

.navbar__s2 p:hover {
    outline: none;
    background-color: rgb(207, 202, 202);
    cursor: pointer;
}

.navbar__s3 {
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-right: 370px;
    align-items: center;

}
.navbar__s4{
    display: none;
}

.currency-selector {
    display: flex;
    text-align: center;
    border: none;
    width: 70px;
    height: 20px;
    border-radius: 35px;
    padding: 12px;
    gap: 5px;
    background-color: transparent;

}

.currency-selector:hover {
    outline: none;
    background-color: rgb(207, 202, 202);
    cursor: pointer;
}

.currency-selector img {
    width: 20px;
    padding: 2px;

}

.currency {
    font-size: 15px;
}

.navbar__s3 h3 {
    border: solid black 1px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 60px;
    height: 20px;
    border-radius: 35px;
    padding: 12px;
    margin-left: 0;
    font-size: 16px;
}

.navbar__s3 h3:hover {
    background-color: #143c24;
    cursor: pointer;
}
.whereto{
    color: #01220e;
}
.whereto__title {
    display: flex;
    justify-content: center;
    font-size: 25px;

    font-weight: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.whereto__catagories {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.whereto__catagories img {
    width: 35px;
    padding: 3px;
}

.whereto__catagories p {
    font-size: 20px;
    opacity: 0.9;

}

.searchall {
    display: flex;
    align-items: center;
    padding-bottom: 1px ;
    border-bottom: 2px solid #01220e;;
    justify-content: center;
    cursor: pointer;
}

.hotel {
    display: flex;

    align-items: center;
}

.hotel img {
    width: 20px;
    height: 25px;
}

.things-to-do {
    display: flex;
    align-items: center;
}

.things-to-do img {
    width: 25px;
    height: 25px;
}

.restarunt {
    display: flex;
    align-items: center;
}

.restarunt img {
    width: 22px;
    height: 22px;

}

.flights {
    display: flex;
    align-items: center;
}

.flights img {
    width: 25px;
    height: 25px;
}


.holiday-rentals {
    display: flex;
    align-items: center;
}

.holiday-rentals img {
    width: 25px;
    height: 25px;
}

.search-bar{
    margin-top: 10px;
    margin-left: 540px;
    padding: 20px;
    margin-left: 3;
    border:  solid rgb(180, 176, 176) 1px;
    border-width: 2px;
    border-radius: 40px;
    width: 42%;
    height: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: rgba(179, 175, 175, 0.17) 0px -23px 25px 0px inset, rgba(201, 196, 196, 0.15) 0px -36px 30px 0px inset, rgba(150, 147, 147, 0.1) 0px -79px 40px 0px inset, rgba(158, 155, 155, 0.06) 0px 2px 1px, rgba(168, 167, 167, 0.09) 0px 4px 2px, rgba(199, 194, 194, 0.09) 0px 8px 4px, rgba(153, 151, 151, 0.09) 0px 16px 8px, rgba(197, 189, 189, 0.09) 0px 32px 16px;
    opacity: 0.9;
}

.search-bar input{
    border: none;
    font-size: 16px;
    width: 50%;
    
    background-color: transparent;
    color: grey;
    position: relative;
   
}

.searchbar input:focus{
    outline: gray;
    
     outline: none;
}




.search-bar__button{
    position: absolute;
    right: 540px;
    width: 100px;
    height: 40px;
    padding: 10px;
    border: solid rgb(85, 84, 84) 0.5px;
    background-color: #00eb5b;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    
}

.search-bar__button:hover{
    background-color: #04c44e;
    cursor: pointer;
}

.poster-image{
    position: relative;
    display: flex;
}

.poster-image img{  
     width: 60%; 
     align-items: center;  
     justify-content: center;
     height: 520px;
     margin-top: 30px;
     margin-left: 400px;
     border-radius: 15px;
 
}

.poster-image__rate{
    position: absolute;
    color: white;
    margin-left: 420px;
    top: 380px;
    font-size: 25px;
    padding: 0;
    margin-bottom: 0;


}
.poster-image__rate p{
    font-size: 20px;
    color: white;
    padding: 0;
    margin-top: 0;
}

.poster-image__rate button{
    margin-top: 10px;
    padding: 2px;
    font-size: 15px;
    font-weight: bold;
    height: 48px;
    width: 200px;
    border-radius: 23px;
    border: none;
    color: rgb(48, 47, 47);
}

.categories{
    margin-left: 400px;
    margin-top: 70px;
    
}

.categories__title h3, p{
    margin-bottom: 10px;
    color: #011107;
    font-weight: bolder;

}

.categories__title p{
    margin-bottom: 20px;
    color: #01220e;
    opacity: 0.8;
    font-size: 16px;
    font-weight: normal;

}

.rate__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    justify-content: center;
    margin-right: 380px;

}

.rate-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    position: relative;

}

.rate-card img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4); /* darkens image */
    
}

.rate-card h3{
    position: absolute;
    color: #ffffff; 
    top: 190px;
    padding: 10px;
    font-weight: bolder;
    font-size: 25px;
}

.places{
    margin-left: 400px;
    margin-top: 0;
    padding-top: 0;
    
    
}

.places__title h3, p{
    margin-bottom: 10px;
    color: #011107;
    font-weight: bolder;

}

.places__title p{
    margin-bottom: 20px;
    color: #01220e;
    opacity: 0.8;
    font-size: 16px;
    font-weight: normal;

}

.places__container{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    justify-content: center;
    margin-right: 380px;

}

.places-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    position: relative;
}

.places-card__image{
    width: 100%;
    height: 50%;
    border-radius: 17px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.4); /* darkens image */
    position: relative;
}

.places-card__heart{
    position: absolute;
    border: solid white 8px;
    background-color: white;
    border-radius: 17px;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
}

.places-card__seller{
    border: solid black 1px;
    width: fit-content;
    padding: 7px;
    border-radius: 3px;
    width: 60px;
    font-size: 12px;


}
    
.places-card__rating{
    font-size: 14px;
    padding: 0;
    font-weight: normal;
    

}
.places-card__price{
    font-size: 14px;
}



.things-todo{
    margin-left: 400px;
    margin-top: 0;
    padding-top: 0;
    
    
}

.things-todo__title h3, p{
    margin-bottom: 10px;
    color: #011107;
    font-weight: bolder;

}

.things-todo__title p{
    margin-bottom: 20px;
    color: #01220e;
    opacity: 0.8;
    font-size: 16px;
    font-weight: normal;

}
.things-todo__container{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    justify-content: center;
    margin-right: 380px;

}

.things-todo-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    position: relative;
}

.things-todo-card__image{
    width: 100%;
    height: 50%;
    border-radius: 17px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.4); /* darkens image */
    position: relative;
}

.things-todo-card__heart{
    position: absolute;
    border: solid white 8px;
    background-color: white;
    border-radius: 17px;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
}

.things-todo-card__seller{
    border: solid black 1px;
    width: fit-content;
    padding: 7px;
    border-radius: 3px;
    width: 60px;
    font-size: 12px;


}
    
.things-todo-card__rating{
    font-size: 14px;
    padding: 0;
    font-weight: normal;
    

}
.things-todo-card__price{
    font-size: 14px;
}

.themes{
    margin-left: 400px;
    margin-top: 0;
    padding-top: 0;
    
    
}

.themes__title h1{
    margin-top: 70px;
    margin-bottom: 10px;
    color: #011107;
    font-weight: bolder;
    font-size: 30px;

}


.themes__container{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    justify-content: center;
    margin-right: 380px;

}

.themes-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    position: relative;
}

.themes-card__image{
    width: 100%;
    height: 50%;
    border-radius: 17px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.4); /* darkens image */
    position: relative;
}
.themes-card h3{
    position: absolute;
    color: #ffffff; 
    top: 170px;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
}

    
.themes-card p{
    font-size: 16px;
    padding: 5px;
    font-weight: normal;
    padding-bottom: 3px;
    

}

footer{
    
    padding: 30px;
    background-color: rgb(241, 239, 239);
    color: black;
}
.footer__one{
    margin-left: 360px;
    display: flex;
    
    
}

.footer__one__s1 p,.footer__one__s2 p{
    color: rgb(61, 60, 60);
    font-weight: normal;
    font-size: 14px;
    padding-right: 50px;
    
}

.footer__one__s3 p{
    color: rgb(61, 60, 60);
    font-weight: normal;
    font-size: 14px;
    padding-left: 50px;
}


.footer__two{
    margin-top: 10px;
    margin-left: 360px;
    display: flex;
    justify-content: space-between;
}

.footer__two__copy{
    display: flex;
    align-items: center;
}

.footer__two__copy img{
    width: 45px;
    padding: 2px;
}

.footer__two__copy p{
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
}

.footer__two__drop-down{
    margin-right: 350px;
    
}
.footer__two__currency{
    width: 150px;
    height: 35px;
    font-weight: bold;
    border-radius: 8px;
    margin-right: 20px;
    padding: 5px;
     border: solid grey 2px;

}

.footer__two__country{
    width: 150px;
    height: 35px;
    /* font-weight: bold; */
    border-radius: 8px;
    font-size: 16px;
    gap: 15px;
    padding: 5px;
    border: solid grey 2px;

}

/* Media query */

/* Tablet view */
@media screen and (max-width: 800px) {
  .navbar,
  .footer__one,
  .footer__two {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  

  .navbar__s4{
    display: block;
  }

  .search-bar {
    width: 90%;
    margin: 20px auto;
    flex-direction: column;
  }

  .search-bar input,
  .search-bar__button {
    width: 100%;
    margin-bottom: 10px;
  }

  .poster-image img {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .rate-card,
  .places-card,
  .things-todo-card,
  .themes-card {
    flex-basis: 45%;
  }
}

/* Mobile view */
@media screen and (max-width: 600px) {
  .navbar__s1__title {
    font-size: 20px;
  }

  .whereto__title h1,
  .categories__title h3,
  .places__title h3,
  .things-todo__title h3,
  .themes__title h1 {
    font-size: 18px;
  }

  .rate-card,
  .places-card,
  .things-todo-card,
  .themes-card {
    flex-basis: 100%;
  }

  .poster-image__rate {
    position: static;
    text-align: center;
    margin: 20px 0;
  }

  footer {
    padding: 20px;
    text-align: center;
  }

  .footer__one,
  .footer__two {
    flex-direction: column;
    align-items: center;
  }
}
